body {
  font-size: 1.2rem;
  
}


.sidebar-heading {
  font-size: 1.1rem;
}

/*
 * Navbar
 */

.navbar-brand {

  font-size: 1rem;

}

.choose {

  font-size:16px;


}

.update {

  font-size:16px;

}

